body {
    margin: 0;
    padding: 0;
    background-color: #101010;
}

header {
    position: fixed;
    width: 100%;
    background-color: #45A29E; 
    z-index: 1000;
    top: 0;
}

.navbar {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50px; 
}

.navbar ul li {
    display: inline;
    font-weight: bold;
    
}
.navbar ul li a{
    text-decoration: none;
    color: white;
    padding: 8px 16px;
    border-radius: 4px;
    transition: backgroundcolor 0.3s ease-in-out;
}
.navbar ul li a:hover{
    background-color: #1F2833;
}

main {
    margin-top: 0px; 
}

section {
    height: 109vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s, transform 0.5s;
}

#Home:not(.visible) + #About {
    background-color:#000000 ;
}
#About:not(.visible) + #Social{
    background-color: #101010  ;
}

#Contact{
    background-color: #1F2833;
    color: white;
}

.home-content{ 
    padding: 40px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    font-size: 30px;
    background-image: url("../img/bg.jpg");
    background-size: cover;
}
#About{
    color: white;
}


.photo-container{
    text-align: center;
    margin-bottom: 20px;
}
.photo-container img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    transition: transform 0.3s ease-in-out;
}
.card-container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.card{
    width: 300px;
    padding: 20px;
    margin: 20px;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease-in-out;
    background-color: white;
    
}
.card img:hover{
    transform: translateY(-10px);

}
.form-card{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 500px;
    background-image: url(../img/form-bg.jpg);
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    background-size: cover;
    border-radius: 5px;
    padding: 10px;
}
.form-group{
    margin-bottom: 10px;
}
input[type="text"],
input[type="email"],
textarea{
    width: calc(100% - 16px);
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
    opacity:50%;
}
textarea{
    resize: vertical;
}
button[type="submit"]{
    padding: 20px, 20px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 4px;
    transition: background-color 0.3s ease-in-out;;
}
button[type="submit"]:hover{
    background-color: #555;
    
}


.visible {
    opacity: 1;
    transform: translateY(0);
}

